.gameshead {
  padding: 1em 0em;
  margin: 0.5em;
  border: 2px solid #dddddd;
  background-color: lightgrey;
}
.gameshead p {
  text-align: center;
}
.game {
  padding-top: 1em;
  margin: 0.25em 0.5em;
  border: 2px solid #dddddd;
  border-radius: 5px;
  background-color: white;
}
.game p {
  text-align: center;
}
