<div class="container content">
  <div class="row">
    <div class="col text-center">
      <h1 >Upcoming Games</h1>
      <hr>
    </div>
  </div>
  <div class="row gameshead">
    <div class="col-sm-1">
      <p>Round</p>
    </div>
    <div class="col-sm-3">
      <p>Home Team</p>
    </div>
    <div class="col-sm-3">
      <p>Away Team</p>
    </div>
    <div class="col-sm-3">
      <p>Date&Time</p>
    </div>
    <div class="col-sm-2">
      <p>Venue</p>
    </div>
  </div>
  <div class="row game" *ngFor="let game of upcomingGames">
    <div class="col-sm-1">
      <p>{{game.round}}</p>
    </div>
    <div class="col-sm-3">
      <p>{{game.hteam}}</p>
    </div>
    <div class="col-sm-3">
      <p>{{game.ateam}}</p>
    </div>
    <div class="col-sm-3">
      <p>{{game.date}}</p>
    </div>
    <div class="col-sm-2">
      <p>{{game.venue}}</p>
    </div>
  </div>
</div>