.box {
  height: 5em;
  margin: 0.5em;
  border: 2px solid #dddddd;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

.resultshead {
  padding: 1em 0em;
  margin: 0.5em;
  border: 2px solid #dddddd;
  background-color: lightgrey;
}
