<div class="container">
    <div class="row resultshead">
        <div class="col-sm-2">
          <p class="text-center">Home</p>
        </div>
        <div class="col-sm-2">
          <p class="text-center">Score</p>
        </div>
        <div class="col">
          <p class="text-center">Away</p>
        </div>
        <div class="col-sm-2">
          <p class="text-center">Winner</p>
        </div>
        <hr>
  </div>
  <div class="row box" *ngFor="let game of games">
    <div class="col-sm-2">
      <p>{{game.hteam}}</p>
    </div>
    <div class="col-sm-2">
      <p>{{game.hscore}}-{{game.ascore}}</p>
    </div>
    <div class="col">
      <p>{{game.ateam}}</p>
    </div>
    <div class="col-sm-2">
      <p>{{game.winner}}</p>
    </div>
  </div>
</div>
