
<select>
    <option [ngValue]="team" *ngFor="let team of teams" [class.selected]="team === selectedTeam"
        (click)="onSelect(team)">{{team.name}}</option>
</select>

<div *ngIf="selectedTeam">
  <div class="container content">
    <br>
    <div class="row">
      <div class="col-sm-2">
        <img src="https://squiggle.com.au/{{selectedTeam.logo}}">

      </div>
      <div class="col">
        <h2 class="text-center">{{selectedTeam.name | uppercase}} Tips</h2>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <h4 class="text-center">Tips</h4>
        <hr>
        <div class="row tipsheader text-center">
          <div class="col-sm-2">
            <p>Round</p>
          </div>
          <div class="col">
            <p>Home Team</p>
          </div>
          <div class="col">
            <p>Away Team</p>
          </div>
          <div class="col">
            <p>Tip</p>
          </div>
          <div class="col">
            <p>Source</p>
          </div>
        </div>
        <div class="row tip" *ngFor="let tip of tips">
          <div class="col-sm-2">
              <p>{{tip.round}}</p>
          </div>
          <div class="col">
              <p>{{tip.hteam}}</p>
          </div>
          <div class="col">
              <p>{{tip.ateam}}</p>
          </div>
          <div class="col">
              <p>{{tip.tip}}</p>
          </div>
          <div class="col">
              <p>{{tip.source}}</p>
          </div>
        </div>
        <div class="row text-center" [hidden]="isShow">
          <div class="col">
            <p class="text-center">You don't want to know.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
