.tipsheader {
  padding: 1em 0em;
  margin: 0.5em;
  border: 2px solid #dddddd;
  background-color: lightgrey;
}
.tipsheader p {
  text-align: center;
}
.tip {
  padding-top: 1em;
  margin: 0.25em 0.5em;
  border: 2px solid #dddddd;
  border-radius: 5px;
  background-color: white;
}
.tip p {
  text-align: center;
}
.details img {
  width: 80%;
  align: center;
}
