<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="#">AFL Yo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/Teams" class="navButton nav-link">Teams</a>
      </li>
      <li class="nav-item">
        <a routerLink="/Games" class="navButton nav-link">Results</a>
      </li>
      <li class="nav-item">
        <a routerLink="/Ladder" class="navButton nav-link">Ladder</a>
      </li>
      <li class="nav-item">
        <a routerLink="/Tips" class="navButton nav-link">Tips</a>
      </li>
      <li class="nav-item">
        <a routerLink="/UpcomingGames" class="navButton nav-link">Upcoming Games</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
