.ladderpos {
  padding: 0.75em 0em;
  margin: 0.5em;
  border: 2px solid #dddddd;
  border-radius: 10px;
  background-color: white;
}
.ladderpos p {
  text-align: center;
}
.ladderhead {
  padding: 1em 0em;
  margin: 0.5em;
  border: 2px solid #dddddd;
  background-color: lightgrey;
}
.ladderhead p{
}
.content {
  background-color: white;
}

@media only screen and (max-width: 600px) {

}
