<div class="container content">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center;">LADDER</h1>
      <hr>
      <h3 style="text-align: center;">Round 20</h3>
    </div>
  </div>
  <div class="row ladderhead">
    <div class="col-sm-2">
      <p class="text-center">Rank</p>
    </div>
    <div class="col">
      <p class="text-center">Team</p>
    </div>
    <div class="col-sm-2">
      <p class="text-center">W | L</p>
    </div>
    <hr>
  </div>
  <div class="row ladderpos" *ngFor="let standing of standings">
    <div class="col-sm-2">
      <p>{{standing.rank}}</p>
    </div>
    <div class="col">
      <p>{{standing.name}}</p>
    </div>
    <div class="col-sm-2">
      <p>{{standing.wins}} | {{standing.losses}}</p>
    </div>
  </div>
</div>
