
<p>How many games have been played at</p> 
<select class="venue-dropdown">
  <option [ngValue]="venue" *ngFor="let venue of venues" [class.selected]="venue === selectedVenue"
      (click)="onSelect(venue)">{{venue}}</option>
</select>
<p>this season? {{venueCounter}}</p>

<div id = ladder_bit></div>
<div id = upcoming_games_bit></div>

<div class="container content">
  <div class="row">
    <div class="col-sm-6">
      <app-ladder></app-ladder>
    </div>
    <div class="col-sm-6">
      <app-upcoming-games></app-upcoming-games>
    </div>
  </div>
     
</div>
