body {
  background-color: #f6f7eb;
}
.content {
  background-color: white;
  padding-bottom: 1em;
}
.header {
  background-color: #fb3640;
  color: white;
}
.header img {
  float: left;
  position: absolute;
  left: 5%;
  top: 3.5%;
  width: 10%;
}
.footer {
  background-color: #3a3335;
  color: white;
}
