<div class="container content" id="teams_div" [hidden]="isShow">
  <div class="row">
    <div class="col teamheader">
      <h1 style="text-align: center;">TEAMS</h1>
      <hr>
    </div>
  </div>


  <div class="row">
    <div *ngFor="let team of teams" [class.selected]="team === selectedTeam" (click)="onSelect(team)">
      <!--<a href="">-->
      <div class="col-12 team box">
        <div class="team">
          <p>{{team.name}}</p>
          <img src="https://squiggle.com.au/{{team.logo}}">
        </div>
      </div>
      <!-- </a>-->
    </div>
  </div>
</div>

<div *ngIf="selectedTeam">
  <div class="container content">
    <div class="row">
      <div class="col">
        <button type="button" (click)="offSelect()">Back</button>

        <p style="text-align: right;">Show me games this season between {{selectedTeam.name}} and</p>
        <select class="team-dropdown">
          <option [ngValue]="team2" *ngFor="let team2 of teams" [class.selected]="team2 === selectedTeam2"
              (click)="H2H(team2)">{{team2.name}}</option>
        </select>

        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2 class="text-center">{{selectedTeam.name | uppercase}} Details</h2>
      </div>
    </div>

    <div class="row details">
      <div class="col-sm-6">
        <img src="https://squiggle.com.au/{{selectedTeam.logo}}">
        <h4 class="text-center">Statistics</h4>
        <hr>
        <h5>Breakdown of this season (of {{numGames}} games so far)</h5>
        <p>Current Ladder Position : {{ladderPos}}</p>
        <p>Average goals per game: {{avgGoals}}</p>
        <p>Average behinds per game: {{avgBehinds}}</p>
        <p>Total goals For: {{seasonGoals}}</p>
        <p>Total behinds For: {{seasonBehinds}}</p>
        <p>Total goals Against: {{seasonGoalsAgainst}}</p>
        <p>Total behinds Against: {{seasonBehindsAgainst}}</p>
      </div>

      <div class="col-sm-6" [hidden]="isDisplay">
        <h4 class="text-center">Head To Head</h4>
        <hr>
        <div class="row gameshead text-center">
          <div class="col-sm-2">
            <p>Round</p>
          </div>
          <div class="col">
            <p>Home Team</p>
          </div>
          <div class="col">
            <p>Away Team</p>
          </div>
          <div class="col">
            <p>Points</p>
          </div>
          <div class="col">
            <p>Venue</p>
          </div>
          <div class="col">
            <p>Winner</p>
          </div>
        </div>
        <div class="row game" *ngFor="let game of headToHead">
          <div class="col-sm-2">
              <p>{{game.round}}</p>
          </div>
          <div class="col">
              <p>{{game.hteam}}</p>
          </div>
          <div class="col">
              <p>{{game.ateam}}</p>
          </div>
          <div class="col">
              <p>{{game.hscore}} | {{game.ascore}}</p>
          </div>
          <div class="col">
              <p>{{game.venue}}</p>
          </div>
          <div class="col">
            <p>{{game.winner}}</p>
        </div>
        </div>
      </div>

      <div class="col">
        <h4 class="text-center">Upcoming Games</h4>
        <hr>
        <div class="row gameshead text-center">
          <div class="col-sm-2">
            <p>Round</p>
          </div>
          <div class="col">
            <p>Home Team</p>
          </div>
          <div class="col">
            <p>Away Team</p>
          </div>
          <div class="col">
            <p>Date & Time</p>
          </div>
          <div class="col">
            <p>Venue</p>
          </div>
        </div>
        <div class="row game" *ngFor="let game of nextGames">
          <div class="col-sm-2">
              <p>{{game.round}}</p>
          </div>
          <div class="col">
              <p>{{game.hteam}}</p>
          </div>
          <div class="col">
              <p>{{game.ateam}}</p>
          </div>
          <div class="col">
              <p>{{game.date}}</p>
          </div>
          <div class="col">
              <p>{{game.venue}}</p>
          </div>
        </div>
      </div>
    </div>

<div class="row">
  <div class="col">
    <h4 class="text-center">Game History</h4>
    <hr>
  </div>

</div>
    <div class="row gameshead">
      <div class="col">
        <p class="text-center">Home Team</p>
      </div>
      <div class="col">
        <p class="text-center">Away Team</p>
      </div>
      <div class="col">
        <p class="text-center">Score</p>
      </div>
      <div class="col">
        <p class="text-center">Winner</p>
      </div>
      <div class="col">
        <p class="text-center">Venue</p>
      </div>
    </div>
    <div class="row game" *ngFor="let game of games">
      <div class="col">
        <p class="text-center">{{game.hteam}}</p>
      </div>
      <div class="col">
        <p class="text-center">{{game.ateam}}</p>
      </div>
      <div class="col">
        <p class="text-center">{{game.hscore}}-{{game.ascore}}</p>
      </div>
      <div class="col">
        <p class="text-center">{{game.winner}}</p>
      </div>
      <div class="col">
        <p class="text-center">{{game.venue}}</p>
      </div>
    </div>
  </div>
</div>
