.teamheader {
  margin-top: 1em;
}

.team img {
  width: 60%;
  align-content: center;
}
.team {
  padding: 0.5em;
  text-align: center;
}
.box {
  width: 13em;
  height: 13em;
  margin: 0.5em;
  border: 2px solid #dddddd;
  border-radius: 25px;
  background-color: white;
}
.box:hover {
  border: 2px solid #aaaaaa;
  background-color: lightgrey;
  transition: background-color 0.25s;
}


/* Team details section*/
.gameshead {
  padding: 1em 0em;
  margin: 0.5em;
  border: 2px solid #dddddd;
  background-color: lightgrey;
}
.gameshead p {
  text-align: center;
}
.game {
  padding-top: 1em;
  margin: 0.25em 0.5em;
  border: 2px solid #dddddd;
  border-radius: 5px;
  background-color: white;
}
.game p {
  text-align: center;
}
.details img {
  width: 80%;
  align: center;
}

@media only screen and (max-width: 600px) {

}

.team-dropdown{
  float: right;
}
